.content {
    min-width: 100%;
    background-color: #111;
    max-height: 100vh;
    border: 1px solid green;
    color: white;
    padding: 20px 0;
    overflow: scroll;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    max-width: 1275px;
    margin: 0 auto;
    min-height: 100%;

    align-items: center;
}

.title {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 15px;
}

.games {
    /*align-items: center;*/
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}